{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "plugins": [
        "react"
    ],
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": "./webpack.config.dev.js"
        }
      }
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": { "legacyDecorators": true, "jsx": true }
    },
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4, { "VariableDeclarator": 1 }],
        "no-var": "error",
        "no-console": "off",
        "no-alert": "off",
        "no-debugger": "off",
        "no-unused-vars": "off",
        "class-methods-use-this": "off"
    }
  }