{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "semi": [0],
    "react/jsx-filename-extension": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "react/prefer-stateless-function": "off",
    "no-param-reassign": "off",
    "import/no-named-as-default": [0],
    "react/forbid-prop-types": [0],
    "no-console": [0],
    "import/extensions": [0],
    "import/no-absolute-path": [0]
  }
}