{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "plugins": [
        "react",
        "react-hooks"
    ],
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": "./webpack.dev.js"
        }
      }
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": { "legacyDecorators": true, "jsx": true }
    },
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4, { "VariableDeclarator": 1 }],
        "no-var": "error",
        "no-console": "off",
        "no-alert": "off",
        "no-debugger": "off",
        "no-unused-vars": "off",
        "class-methods-use-this": "off",
        "import/no-unresolved": "off",
        "react-hooks/rules-of-hooks": "error", // 检查 Hook 的规则
        "react-hooks/exhaustive-deps": "warn" // 检查 effect 的依赖
    }
  }